*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.cipd
.clangd
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.settings
.sw?
/out
/x86-generic_out/
/xcodebuild
/.vscode

# project ignore
/base
/build
/buildtools
/common
/media
/out
/testing
/third_party
/tools



# for gclient files isnore
.cipd
_gclient_*
.gclient_*


